.node {
    min-width: 150px;
    max-width: 500px;
    word-wrap: anywhere;
    background-color: #F9F9F9;
    border: solid #DDDDDD 1px;
    border-radius: 20px;
}

.node:hover {
    border: solid #AAA 1px;
}

@keyframes glowing-red {
    0% {
        box-shadow: 0 0 -10px rgb(255, 145, 145);
    }
    50% {
        box-shadow: 0 0 20px rgb(255, 145, 145);
    }
    100% {
        box-shadow: 0 0 -10px rgb(255, 145, 145);
    }
}

@keyframes shake {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.node.error {
    animation: glowing-red 1000ms infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.node .pin.error {
    animation: glowing-red 1000ms infinite, shake 200ms infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    background-color: rgb(255, 145, 145);
}

svg {
    border: solid #DDDDDD;
}

.node svg {
    border-width: 1px;
}

.embedded-node {
    overflow: visible;
}

.node .node-drag:hover {
    cursor: move;
}

.node .node-nodrag:hover {
    cursor: auto;
}

.node .identifier.output {
    padding-right: 0px;
    text-align: right;
}

.pin-container.output div {
    position: absolute;
    right: 0;
}

.node .header hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.node .pin-container {
    padding: 0px;
}

.node .pin {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: solid black 2px;
    margin: 4px;
    background-color: white;
    pointer-events: all;
}

.node .pin.dragging {
    background-color: blue;
}

.node .pin:hover {
    cursor: grab;
    background-color: yellow;
}

.node .input-pin .pin {
    border-radius: 100% 10% 10% 100%;
}

.node .input-pin {
    margin-left: -20px;
}

.node .input-pin .pin:hover {
    cursor: move;
}

.node .input-pin {
    margin-left: -20px;
}

.node-graph {
    border: solid #DDDDDD;
}

.node-link {
    fill: none;
    stroke: hotpink;
    stroke-width: 5px;
}

div.main-node {
    padding: 5px;
    position: relative;
}

.node .node-remove:hover {
    cursor: pointer;
    border: solid #DDD 2px;
    opacity: 100%;
    background-color: white;
}

.node .node-remove {
    border: none;
    position: absolute;
    right: 8px;
    width: 30px;
    margin: 0;
    top: -25px;
    border-radius: 100%;
    height: 30px;
    user-select: none;
}